@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
:root{
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
    --blue-testimonials: hsl(219, 30%, 18%);
    --white: hsl(0, 0%, 100%);
    --cyan-gradient: hsl(176, 68%, 64%);
    --blue-gradient: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    --gradient: linear-gradient(to right, var(--cyan-gradient),var(--blue-gradient));
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    --padding-container: 60px 0;
}

html{
    scroll-behavior: smooth;
}
/*Header*/

.navContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
    overflow: hidden;
}
header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    /* padding: 1rem; */
}

header a{
    text-decoration: none;
}
  
.brand-title {
    color: #fff;
    display: block;
    font-size: 2.8rem;
    line-height: 0.5;
    font-family: 'Raleway', sans-serif;
}
.brand-title span{
    font-size: 3.5rem;
}
.brand-title-footer{
    color: #fff;
    display: block;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 0;
    font-family: 'Raleway', sans-serif;
}
.brand-title-footer span{
    font-size: 3.5rem;
}

.navbar-links {
    height: 100%;
}
  
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}
  
.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem
}
  
.toggle-button {
    position: absolute;
    top: 0.30rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 10px;
}
  
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}

.toggle-button.active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
}

.toggle-button.active > span:nth-child(2){
    width: 0;
}

.toggle-button.active > span:nth-child(1),
.toggle-button.active > span:nth-child(3){
    transition-delay: 0.4s;
}

.toggle-button.active > span:nth-child(1){
    transform: translateY(9px);
}

.toggle-button.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
}

  
@media (max-width: 720px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .toggle-button {
        margin-top: 58px;
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: justify;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
  
    .navbar-links.active {
        display: flex;
    }
}

/*Fin*/


/*Inicio*/

.inicioContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;
}

.productive{
    color: #fff;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.productive_title{
    font-size: 2.5rem;
    margin-bottom: .8em;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.productive_img{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.productive_paragraph{
    line-height: 1.7;
    margin-bottom: 1em;
}

.productive_cta{
    display: inline-block;
    color: hsl(176, 68%, 64%);
    line-height: 2.5;
    text-decoration: none;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}

.productive_arrow{
    width: 30px;
    margin-left: .1em;
    vertical-align: middle;
}


/*Fin*/

/*Buscador*/

.join{
    background-image: linear-gradient(var(--blue-main) 50%, var(--blue-footer) 50%);
    color: #fff;
    padding: 60px 0;
}

.join_container{
    background-color: var(--blue-testimonials);
    box-shadow: 1px 1px 10px -5px rgb(255, 255, 255, .5);
    border-radius: 12px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
    width: 65%;
}

.join_title{
    font-family: var(--heading-font);
    font-size: 2rem;
    margin-bottom: 1em;
}

.join_paragraph{
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: .7em;
}

.join_form{
    display: grid;
    grid-template-columns: 1fr max-content;
}

.join_input{
    padding: 15px 20px;
    font: inherit;
    border-radius: 30px;
    outline: none;
    border: none;
}

/*fin*/

/*Card*/

.container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 15px 15px 10px;
    display: flex;
    flex-direction: column;
    background: hsl(219, 30%, 18%);
    border-radius: 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;
    width: 360px;
    flex: auto;
    cursor: pointer;
    margin: 0 auto;
}
.cardContenedor{
    padding-bottom: 65px;
}

.card:hover{
    box-shadow: 1px 1px 10px -5px rgb(255, 255, 255, .5);
}
.card img {
    width: 100%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.puntos {
    align-self: flex-end;
    z-index: 3;
}

.card-body {
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.card-title {
    font-size: 19px;
}
.card-body h5,
.card-body p {
    margin: 0;
}

.card-body-item {
    display: flex;
}

.card-body .price {
    margin-bottom: 20px;
    font-size: 14px;
}

.datos {
    display: flex;
    font-size: 12px;
}

.datos div {
    margin-right: 10px;
    text-align: center;
}

.datos div p{
    
}

.ranking {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ranking h4 {
    margin: 0;
    font-size: 14px;
}
.ranking p {
    font-size: 12px;
}

.circulo {
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    right: -120px;
    bottom: -70px;
    z-index: 1;
    background: hsl(176, 68%, 64%);
}
  
/*Fin*/

/*Mas info*/

.infoContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;
}

.productive_paragraph_info{
    line-height: 1.7;
    margin-bottom: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
}

.masInformacion{
    color: #fff;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.preciosP h3{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.precios{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.precios div{
    text-align: center;
}

.precios div i{
    margin: 12px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    color: #fff;
    background: hsl(219, 30%, 18%);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid hsl(219, 30%, 18%);
    font-size: 30px;
    font-weight: 500;
    display: grid;
}

.preciosCambiosP h3{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.preciosCambios{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.preciosCambios div{
    text-align: center;
    margin: 5px;
}

.preciosCambios div i{
    margin: 12px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    color: #fff;
    background: hsl(219, 30%, 18%);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid hsl(219, 30%, 18%);
    font-size: 30px;
    font-weight: 500;
    display: grid;
}


.preciosCambios div .positivo{
    font-size: 18px;
    font-weight: 450;
    color: forestgreen;
}
.preciosCambios div .negativo{
    font-size: 18px;
    font-weight: 450;
    color:red;
}
.nose{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.linksP h3{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.links{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.links div{
    text-align: center;
}

.links div a{
    text-decoration: none;
    color: #fff;
}

.links div i{
    margin: 12px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: grid;
}

/* .datos {
    display: flex;
    font-size: 12px;
}

.datos div {
    margin-right: 10px;
    text-align: center;
} */

/*Fin mas info*/

/*Favorite Crypto*/

.cryptos-favoritas{
    width: 100%;
  margin-bottom: 5.25rem;
  border-collapse: collapse;
  color: #fff;
}
.cryptos-favoritas .encabezado{
    display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  margin-bottom: 0.25rem;
}
.cryptos-favoritas .encabezado tr{
    padding-top: 1.75rem;
    padding-bottom: 0rem;
}
.cryptos-favoritas .encabezado tr th{
    padding-bottom: 1rem;
    font-size: 20px;
    font-weight: 800;
}
.cryptos-favoritas tr{
    text-align: center;
}
.cryptos-favoritas tbody{
    display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.cryptos-favoritas tbody tr{
    padding-top: 1.75rem;
    padding-bottom: 0.75rem;
    border: 2px solid #DEE2E6;
}
.cryptos-favoritas .name-C{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.cryptos-favoritas .name-C img{
    margin-right: 0.5rem;
    width: 30px;
}
.cryptos-favoritas .name-C .name{
    font-weight: 800;
}
.cryptos-favoritas .name-C .symbol{
    margin-left: 0.5rem;
    margin-bottom: 0.3rem;
    font-size: 13px;
}

.tooltip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s linear;
    z-index: 11;
    position: absolute;
}  
.tooltip:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
     8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
     17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
     36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
     99px 72px 143px rgba(0, 0, 0, 0.08);
}  
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
} 
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*Fin Favorite Crypto*/


/*Footer*/
.ppp{
    width: 100%;
    position: relative;
    padding: 60px 0;
}
.www{
    width: 100%;
    position: relative;
    padding: 60px 0;
    background: var(--blue-footer);
}

.curveado{
    position: absolute;
    width: 100%;
    bottom: -10px;
}
.curveado img{
    width: 100%;
}

.footer{
    background-color: var(--blue-intro);
    color: #fff;
}

.footer__items{
    display: grid;
    gap: 1em;   
}

.footer__logo{
    width: 150px;
    display: block;
    margin-bottom: 2em;
}

.footer__contact{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.footer__contact a{
    text-decoration: none;
    color: #fff;
}

.footer__contact--second{
    margin-bottom: 1em;
}


.footer__icon{
    margin-top: 3px;
}

.footer__nav{
    margin-top: 2.5em;
    display: grid;
    gap: .8em;
}

.footer__link{
    color: #fff;
    text-decoration: none;
}

.footer__social{
    margin-top: 2em;
   margin: 0 auto;
}

.footer__media{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
}

.footer__media img{
    width: 40px;
    height: 40px;
}

.footer__media--last{
    margin-right: 0;
}

/*Fin footer*/



.arriba_container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    z-index: 11;
}

.arriba_container div{
    text-align: center;
}

.arriba_container div a{
    height: 55px;
    width: 55px;
    cursor: pointer;
    color: #fff;
    background: hsl(219, 30%, 18%);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid hsl(219, 30%, 18%);
    display: grid;
}


@media screen and (max-width: 1000px){
    .productive{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 500px){
    .circulo{
        height: 190px;
        width: 190px;
    }
}
@media screen and (max-width: 340px){
    .preciosCambios div{
        margin: 0px;
    }
}
@media screen and (max-width: 580px) {
    .productive_picture{
        width: 270px;
        height: 270px;
    }

    .productive_picture img{
        width: 270px;
        height: 270px;
    }
}
@media (prefers-reduced-motion: no-preference) {
    .productive_picture .crypto-img {
      animation: App-logo-spin infinite 40s linear;
    }
  }
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 410px){
    .container {
        padding: 6px;
    }
    .join_container{
        width: 77%;
    }
    .join_title{
        font-size: 1.6rem;
    }
    .ranking{
        margin-top: 85px;
        margin-left: 65px;
    }
    .circulo{
        height: 175px;
        width: 175px;
    }
}

@media screen and (max-width: 1080px){
    .masInformacion{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px){
    .masInformacion{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px){
    .infoContainer{
        width: 100%;
    }
}

@media (min-width:740px){
    
    .footer__items{
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2em;
    }

    
    .footer__nav{
        margin-top: 0;

    }

    .footer__media{
        margin-bottom: 1em;
    }
  
    .footer__social{
        margin-top: 0em;
        
    }
    
    
    .footer__media--last{
        margin-right: 0;
    }
}