.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: hsl(218, 28%, 13%);
}
.cardContenedor{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background: hsl(216, 53%, 9%);
  /* grid-gap: 20px;
  padding: 20px; */
}

@media screen and (max-width: 1150px){
  .cardContenedor{
    grid-template-columns: 1fr;
  }
}